# Stack Overflow Annual Developer Survey (2019)

### Dataset for this Notebook:
[stackoverflow survey 2019](https://insights.stackoverflow.com/survey)

----------------

In [3]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
import time
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import sqlite3

In [4]:
survey_results_csv = "developer_survey_2019/survey_results_public.csv"

In [5]:
database_path = "dash_app/db/js_overload.sqlite"

In [6]:
engine = create_engine(f"sqlite:///{database_path}")

In [7]:
engine.table_names()

['jso11k']

In [8]:
engine.table_names()

['jso11k']

In [9]:
full_df = pd.read_csv(survey_results_csv)

In [10]:
full_df[-2:]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [8]:
full_df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [251]:
full_df.to_csv("developer_survey_2019/jso88k.csv", index=False)

In [252]:
database_path = "dash_app/db/js_overload88k.sqlite"

In [253]:
engine = create_engine(f"sqlite:///{database_path}")

In [254]:
full_df.to_sql(name='jso88k', con=engine, if_exists='replace', index=False)

In [255]:
pd.read_sql_query('select * from jso88k', con=engine).tail()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
88878,88377,None,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,None,...,None,Tech articles written by other developers;Tech...,NaN,Man,No,None,None,No,Appropriate in length,Easy
88879,88601,None,No,Never,The quality of OSS and closed source software ...,None,None,None,None,None,...,None,None,NaN,None,None,None,None,None,None,None
88880,88802,None,No,Never,None,Employed full-time,None,None,None,None,...,None,None,NaN,None,None,None,None,None,None,None
88881,88816,None,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",None,None,None,None,...,None,None,NaN,None,None,None,None,None,None,None
88882,88863,None,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [62]:
# survey_df_200 = full_df[:200].copy()
survey_df_300 = full_df.sample(n=300)

In [42]:
survey_df_300.count()

Respondent        300
MainBranch        300
Hobbyist          300
OpenSourcer       300
OpenSource        290
Employment        296
Country           300
Student           297
EdLevel           295
UndergradMajor    255
EduOther          290
OrgSize           255
DevType           281
YearsCode         299
Age1stCode        296
YearsCodePro      268
CareerSat         260
JobSat            250
MgrIdiot          213
MgrMoney          213
MgrWant           213
JobSeek           277
LastHireDate      275
LastInt           232
FizzBuzz          253
JobFactors        276
ResumeUpdate      263
CurrencySymbol    252
CurrencyDesc      252
CompTotal         195
                 ...
Containers        285
BlockchainOrg     174
BlockchainIs      201
BetterLife        292
ITperson          296
OffOn             290
SocialMedia       288
Extraversion      292
ScreenName        272
SOVisit1st        284
SOVisitFreq       299
SOVisitTo         297
SOFindAnswer      295
SOTimeSaved       292
SOHowMuchTime     221
SOAccount         297
SOPartFreq        258
SOJobs            296
EntTeams          296
SOComm            297
WelcomeChange     289
SONewContent      229
Age               274
Gender            294
Trans             283
Sexuality         266
Ethnicity         266
Dependents        290
SurveyLength      295
SurveyEase        298
Length: 85, dtype: int64

In [63]:
survey_df_300.to_csv("developer_survey_2019/survey_2019_300.csv", index=False)

In [ ]:
survey_df_300.to_sql(name='jso300', con=engine, if_exists='replace', index=False)

In [ ]:
pd.read_sql_query('select * from jso300', con=engine).tail(1)

In [67]:
survey_df_300.tail(1)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
36169,36393,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, but looking for work",Netherlands,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [71]:
survey_df_300.to_sql(name='jso300', con=engine, if_exists='replace', index=False)

In [76]:
pd.read_sql_query('select * from jso300', con=engine).tail(1)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
299,36393,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, but looking for work",Netherlands,"Yes, full-time","Secondary school (e.g. American high school, G...",None,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [102]:
survey_df_11000 = full_df.sample(n=11000).copy()

In [84]:
survey_df_11000.count()

Respondent        11000
MainBranch        10923
Hobbyist          11000
OpenSourcer       11000
OpenSource        10773
Employment        10787
Country           10980
Student           10748
EdLevel           10695
UndergradMajor     9317
EduOther          10415
OrgSize            8867
DevType           10062
YearsCode         10882
Age1stCode        10831
YearsCodePro       9148
CareerSat          8954
JobSat             8734
MgrIdiot           7560
MgrMoney           7566
MgrWant            7573
JobSeek            9937
LastHireDate       9847
LastInt            8242
FizzBuzz           8744
JobFactors         9764
ResumeUpdate       9583
CurrencySymbol     8778
CurrencyDesc       8778
CompTotal          6994
                  ...
Containers        10537
BlockchainOrg      6000
BlockchainIs       7365
BetterLife        10667
ITperson          10777
OffOn             10724
SocialMedia       10445
Extraversion      10811
ScreenName         9981
SOVisit1st        10366
SOVisitFreq       10913
SOVisitTo         10880
SOFindAnswer      10858
SOTimeSaved       10693
SOHowMuchTime      8396
SOAccount         10856
SOPartFreq         9250
SOJobs            10881
EntTeams          10856
SOComm            10893
WelcomeChange     10611
SONewContent       8651
Age                9794
Gender            10537
Trans             10345
Sexuality          9435
Ethnicity          9482
Dependents        10272
SurveyLength      10750
SurveyEase        10767
Length: 85, dtype: int64

In [103]:
survey_df_11000.to_csv("developer_survey_2019/survey_2019_11000.csv", index=False)

In [104]:
survey_df_11000.to_sql(name='jso11000', con=engine, if_exists='replace', index=False)

In [111]:
pd.read_sql_query('select * from jso11k', con=engine).tail(1)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
10999,76403,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United Kingdom,No,"Secondary school (e.g. American high school, G...",None,...,Not applicable - I did not use Stack Overflow ...,None,55.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy

## SQLITE3 QUERIES

In [1]:
conn = sqlite3.connect("dash_app/db/js_overload.sqlite")
cur = conn.cursor()

NameError: name 'sqlite3' is not defined

In [243]:
# column_names = '''SELECT sql FROM sqlite_master
# WHERE tbl_name = `jso11k` AND type = `table`'''

In [246]:
column_names = "SELECT name, sql FROM sqlite_master WHERE type='table' AND name = 'jso11k'"

In [247]:
cur.execute(column_names)

In [248]:
rows = cur.fetchall()

In [249]:
type(rows)
(rows[0][1])

'CREATE TABLE "jso11k" (\n  `Respondent` int(11) NOT NULL,\n  `MainBranch` text,\n  `Hobbyist` text,\n  `OpenSourcer` text,\n  `OpenSource` text,\n  `Employment` text,\n  `Country` text,\n  `Student` text,\n  `EdLevel` text,\n  `UndergradMajor` text,\n  `EduOther` text,\n  `OrgSize` text,\n  `DevType` text,\n  `YearsCode` int(11) DEFAULT NULL,\n  `Age1stCode` int(11) DEFAULT NULL,\n  `YearsCodePro` text,\n  `CareerSat` text,\n  `JobSat` text,\n  `MgrIdiot` text,\n  `MgrMoney` text,\n  `MgrWant` text,\n  `JobSeek` text,\n  `LastHireDate` text,\n  `LastInt` text,\n  `FizzBuzz` text,\n  `JobFactors` text,\n  `ResumeUpdate` text,\n  `CurrencySymbol` text,\n  `CurrencyDesc` text,\n  `CompTotal` text,\n  `CompFreq` text,\n  `ConvertedComp` text,\n  `WorkWeekHrs` double DEFAULT NULL,\n  `WorkPlan` text,\n  `WorkChallenge` text,\n  `WorkRemote` text,\n  `WorkLoc` text,\n  `ImpSyn` text,\n  `CodeRev` text,\n  `CodeRevHrs` text,\n  `UnitTests` text,\n  `PurchaseHow` text,\n  `PurchaseWhat` text,\n  `LanguageWorkedWith` text,\n  `LanguageDesireNextYear` text,\n  `DatabaseWorkedWith` text,\n  `DatabaseDesireNextYear` text,\n  `PlatformWorkedWith` text,\n  `PlatformDesireNextYear` text,\n  `WebFrameWorkedWith` text,\n  `WebFrameDesireNextYear` text,\n  `MiscTechWorkedWith` text,\n  `MiscTechDesireNextYear` text,\n  `DevEnviron` text,\n  `OpSys` text,\n  `Containers` text,\n  `BlockchainOrg` text,\n  `BlockchainIs` text,\n  `BetterLife` text,\n  `ITperson` text,\n  `OffOn` text,\n  `SocialMedia` text,\n  `Extraversion` text,\n  `ScreenName` text,\n  `SOVisit1st` text,\n  `SOVisitFreq` text,\n  `SOVisitTo` text,\n  `SOFindAnswer` text,\n  `SOTimeSaved` text,\n  `SOHowMuchTime` text,\n  `SOAccount` text,\n  `SOPartFreq` text,\n  `SOJobs` text,\n  `EntTeams` text,\n  `SOComm` text,\n  `WelcomeChange` text,\n  `SONewContent` text,\n  `Age` text,\n  `Gender` text,\n  `Trans` text,\n  `Sexuality` text,\n  `Ethnicity` text,\n  `Dependents` text,\n  `SurveyLength` text,\n  `SurveyEase` text,\n  PRIMARY KEY (`Respondent`)\n)'

In [206]:
for row in rows:
    print(row, '\n')
    print()

In [199]:
import re

In [232]:
text = rows[0][1]
pattern = r'`([A-Za-z0-9]*)`'

In [231]:
m = re.search(pattern, text2)

print (m.group())

`Respondent`

In [238]:
# pattern = r'"([^"]*)"'
ticks = re.findall(pattern, text2)[:-1]
ticks

['Respondent',
 'MainBranch',
 'Hobbyist',
 'OpenSourcer',
 'OpenSource',
 'Employment',
 'Country',
 'Student',
 'EdLevel',
 'UndergradMajor',
 'EduOther',
 'OrgSize',
 'DevType',
 'YearsCode',
 'Age1stCode',
 'YearsCodePro',
 'CareerSat',
 'JobSat',
 'MgrIdiot',
 'MgrMoney',
 'MgrWant',
 'JobSeek',
 'LastHireDate',
 'LastInt',
 'FizzBuzz',
 'JobFactors',
 'ResumeUpdate',
 'CurrencySymbol',
 'CurrencyDesc',
 'CompTotal',
 'CompFreq',
 'ConvertedComp',
 'WorkWeekHrs',
 'WorkPlan',
 'WorkChallenge',
 'WorkRemote',
 'WorkLoc',
 'ImpSyn',
 'CodeRev',
 'CodeRevHrs',
 'UnitTests',
 'PurchaseHow',
 'PurchaseWhat',
 'LanguageWorkedWith',
 'LanguageDesireNextYear',
 'DatabaseWorkedWith',
 'DatabaseDesireNextYear',
 'PlatformWorkedWith',
 'PlatformDesireNextYear',
 'WebFrameWorkedWith',
 'WebFrameDesireNextYear',
 'MiscTechWorkedWith',
 'MiscTechDesireNextYear',
 'DevEnviron',
 'OpSys',
 'Containers',
 'BlockchainOrg',
 'BlockchainIs',
 'BetterLife',
 'ITperson',
 'OffOn',
 'SocialMedia',
 'Extraversion',
 'ScreenName',
 'SOVisit1st',
 'SOVisitFreq',
 'SOVisitTo',
 'SOFindAnswer',
 'SOTimeSaved',
 'SOHowMuchTime',
 'SOAccount',
 'SOPartFreq',
 'SOJobs',
 'EntTeams',
 'SOComm',
 'WelcomeChange',
 'SONewContent',
 'Age',
 'Gender',
 'Trans',
 'Sexuality',
 'Ethnicity',
 'Dependents',
 'SurveyLength',
 'SurveyEase']

In [237]:
len(ticks[:-1])

list

In [ ]:
PRAGMA table_info(jso11k)

In [260]:
conn = sqlite3.connect("dash_app/db/js_overload88k.sqlite")
cur = conn.cursor()

In [261]:
cols = '''
    SELECT name, sql FROM sqlite_master
    WHERE type='table' AND name = 'jso88k'
'''

In [262]:
cur.execute(cols)

In [263]:
rows = cur.fetchall()

In [265]:
# rows[0]

In [269]:
col_string = rows[0][1]
col_string

'CREATE TABLE jso88k (\n\t"Respondent" BIGINT, \n\t"MainBranch" TEXT, \n\t"Hobbyist" TEXT, \n\t"OpenSourcer" TEXT, \n\t"OpenSource" TEXT, \n\t"Employment" TEXT, \n\t"Country" TEXT, \n\t"Student" TEXT, \n\t"EdLevel" TEXT, \n\t"UndergradMajor" TEXT, \n\t"EduOther" TEXT, \n\t"OrgSize" TEXT, \n\t"DevType" TEXT, \n\t"YearsCode" TEXT, \n\t"Age1stCode" TEXT, \n\t"YearsCodePro" TEXT, \n\t"CareerSat" TEXT, \n\t"JobSat" TEXT, \n\t"MgrIdiot" TEXT, \n\t"MgrMoney" TEXT, \n\t"MgrWant" TEXT, \n\t"JobSeek" TEXT, \n\t"LastHireDate" TEXT, \n\t"LastInt" TEXT, \n\t"FizzBuzz" TEXT, \n\t"JobFactors" TEXT, \n\t"ResumeUpdate" TEXT, \n\t"CurrencySymbol" TEXT, \n\t"CurrencyDesc" TEXT, \n\t"CompTotal" FLOAT, \n\t"CompFreq" TEXT, \n\t"ConvertedComp" FLOAT, \n\t"WorkWeekHrs" FLOAT, \n\t"WorkPlan" TEXT, \n\t"WorkChallenge" TEXT, \n\t"WorkRemote" TEXT, \n\t"WorkLoc" TEXT, \n\t"ImpSyn" TEXT, \n\t"CodeRev" TEXT, \n\t"CodeRevHrs" FLOAT, \n\t"UnitTests" TEXT, \n\t"PurchaseHow" TEXT, \n\t"PurchaseWhat" TEXT, \n\t"LanguageWorkedWith" TEXT, \n\t"LanguageDesireNextYear" TEXT, \n\t"DatabaseWorkedWith" TEXT, \n\t"DatabaseDesireNextYear" TEXT, \n\t"PlatformWorkedWith" TEXT, \n\t"PlatformDesireNextYear" TEXT, \n\t"WebFrameWorkedWith" TEXT, \n\t"WebFrameDesireNextYear" TEXT, \n\t"MiscTechWorkedWith" TEXT, \n\t"MiscTechDesireNextYear" TEXT, \n\t"DevEnviron" TEXT, \n\t"OpSys" TEXT, \n\t"Containers" TEXT, \n\t"BlockchainOrg" TEXT, \n\t"BlockchainIs" TEXT, \n\t"BetterLife" TEXT, \n\t"ITperson" TEXT, \n\t"OffOn" TEXT, \n\t"SocialMedia" TEXT, \n\t"Extraversion" TEXT, \n\t"ScreenName" TEXT, \n\t"SOVisit1st" TEXT, \n\t"SOVisitFreq" TEXT, \n\t"SOVisitTo" TEXT, \n\t"SOFindAnswer" TEXT, \n\t"SOTimeSaved" TEXT, \n\t"SOHowMuchTime" TEXT, \n\t"SOAccount" TEXT, \n\t"SOPartFreq" TEXT, \n\t"SOJobs" TEXT, \n\t"EntTeams" TEXT, \n\t"SOComm" TEXT, \n\t"WelcomeChange" TEXT, \n\t"SONewContent" TEXT, \n\t"Age" FLOAT, \n\t"Gender" TEXT, \n\t"Trans" TEXT, \n\t"Sexuality" TEXT, \n\t"Ethnicity" TEXT, \n\t"Dependents" TEXT, \n\t"SurveyLength" TEXT, \n\t"SurveyEase" TEXT\n)'

In [272]:
pattern = r'"([A-Za-z0-9]*)"'
column_names = re.findall(pattern, col_string)

In [273]:
column_names

['Respondent',
 'MainBranch',
 'Hobbyist',
 'OpenSourcer',
 'OpenSource',
 'Employment',
 'Country',
 'Student',
 'EdLevel',
 'UndergradMajor',
 'EduOther',
 'OrgSize',
 'DevType',
 'YearsCode',
 'Age1stCode',
 'YearsCodePro',
 'CareerSat',
 'JobSat',
 'MgrIdiot',
 'MgrMoney',
 'MgrWant',
 'JobSeek',
 'LastHireDate',
 'LastInt',
 'FizzBuzz',
 'JobFactors',
 'ResumeUpdate',
 'CurrencySymbol',
 'CurrencyDesc',
 'CompTotal',
 'CompFreq',
 'ConvertedComp',
 'WorkWeekHrs',
 'WorkPlan',
 'WorkChallenge',
 'WorkRemote',
 'WorkLoc',
 'ImpSyn',
 'CodeRev',
 'CodeRevHrs',
 'UnitTests',
 'PurchaseHow',
 'PurchaseWhat',
 'LanguageWorkedWith',
 'LanguageDesireNextYear',
 'DatabaseWorkedWith',
 'DatabaseDesireNextYear',
 'PlatformWorkedWith',
 'PlatformDesireNextYear',
 'WebFrameWorkedWith',
 'WebFrameDesireNextYear',
 'MiscTechWorkedWith',
 'MiscTechDesireNextYear',
 'DevEnviron',
 'OpSys',
 'Containers',
 'BlockchainOrg',
 'BlockchainIs',
 'BetterLife',
 'ITperson',
 'OffOn',
 'SocialMedia',
 'Extraversion',
 'ScreenName',
 'SOVisit1st',
 'SOVisitFreq',
 'SOVisitTo',
 'SOFindAnswer',
 'SOTimeSaved',
 'SOHowMuchTime',
 'SOAccount',
 'SOPartFreq',
 'SOJobs',
 'EntTeams',
 'SOComm',
 'WelcomeChange',
 'SONewContent',
 'Age',
 'Gender',
 'Trans',
 'Sexuality',
 'Ethnicity',
 'Dependents',
 'SurveyLength',
 'SurveyEase']

In [ ]:
cur.execute(query_string)
rows = cur.fetchall()

In [ ]:
country_data = []

for row in rows:
    tempDict = {}
    tempDict[row[0]] = int(row[1])
    country_data.append(tempDict)

In [241]:
conn = sqlite3.connect("dash_app/db/js_overload.sqlite")
cur = conn.cursor()
cols = '''SELECT sql FROM sqlite_master
WHERE tbl_name = `jso11k` AND type = `table`'''

cur.execute(cols)
rows = cur.fetchall()
col_string = rows[0][1]
pattern = r'`([A-Za-z0-9]*)`'
column_names = re.findall(pattern, col_string)[:-1]

OperationalError: no such column: jso11k

In [149]:
query_string = '''
        SELECT Country, count(country) FROM jso11k
        GROUP BY Country
        ORDER BY COUNT(Country) DESC;
'''

In [150]:
query_string

'\n        SELECT Country, count(country) FROM jso11k\n        GROUP BY Country\n        ORDER BY COUNT(Country) DESC;\n'

In [151]:
cur.execute(query_string)

In [152]:
rows = cur.fetchall()

In [153]:
for row in rows[:10]:
    print (row[0], row[1])

United States 2597
India 1077
United Kingdom 721
Germany 719
Canada 428
France 305
Poland 259
Netherlands 256
Australia 250
Brazil 240

In [154]:
country_data = []

In [155]:
for row in rows:
    tempDict = {}
    tempDict[row[0]] = int(row[1])
    country_data.append(tempDict)

In [156]:
country_data

[{'United States': 2597},
 {'India': 1077},
 {'United Kingdom': 721},
 {'Germany': 719},
 {'Canada': 428},
 {'France': 305},
 {'Poland': 259},
 {'Netherlands': 256},
 {'Australia': 250},
 {'Brazil': 240},
 {'Russian Federation': 214},
 {'Spain': 184},
 {'Italy': 181},
 {'Switzerland': 148},
 {'Sweden': 144},
 {'Israel': 119},
 {'Ukraine': 118},
 {'Pakistan': 102},
 {'Austria': 100},
 {'Belgium': 96},
 {'Iran': 95},
 {'Mexico': 94},
 {'Romania': 94},
 {'Turkey': 92},
 {'Bangladesh': 87},
 {'Czech Republic': 82},
 {'Bulgaria': 81},
 {'Denmark': 81},
 {'China': 79},
 {'South Africa': 77},
 {'Norway': 67},
 {'Nigeria': 66},
 {'Portugal': 66},
 {'Greece': 65},
 {'Argentina': 64},
 {'Finland': 59},
 {'Ireland': 59},
 {'New Zealand': 59},
 {'Serbia': 56},
 {'Philippines': 54},
 {'Hungary': 53},
 {'Indonesia': 53},
 {'Japan': 50},
 {'Slovenia': 50},
 {'Sri Lanka': 50},
 {'Chile': 40},
 {'Colombia': 39},
 {'Lithuania': 38},
 {'Singapore': 37},
 {'Egypt': 36},
 {'Croatia': 32},
 {'Viet Nam': 32},
 {'Malaysia': 30},
 {'Slovakia': 29},
 {'United Arab Emirates': 29},
 {'Thailand': 28},
 {'Hong Kong (S.A.R.)': 26},
 {'Kenya': 26},
 {'Estonia': 24},
 {'Tunisia': 24},
 {'Taiwan': 23},
 {'Belarus': 22},
 {'Morocco': 21},
 {'Algeria': 18},
 {'Nepal': 18},
 {'South Korea': 17},
 {'Bosnia and Herzegovina': 16},
 {'Ecuador': 16},
 {'Lebanon': 15},
 {'Uruguay': 15},
 {'Armenia': 14},
 {'Other Country (Not Listed Above)': 14},
 {'Peru': 14},
 {'Dominican Republic': 13},
 {'Latvia': 13},
 {'Saudi Arabia': 13},
 {'Jordan': 12},
 {'Albania': 11},
 {'Cyprus': 11},
 {'Venezuela, Bolivarian Republic of...': 11},
 {'Kazakhstan': 10},
 {'Costa Rica': 9},
 {'Cameroon': 8},
 {'Georgia': 8},
 {'Uganda': 8},
 {'El Salvador': 7},
 {'Ghana': 7},
 {'Zimbabwe': 7},
 {'Afghanistan': 6},
 {'Azerbaijan': 6},
 {'Bolivia': 6},
 {'Cuba': 6},
 {'Jamaica': 6},
 {'Luxembourg': 6},
 {'Uzbekistan': 6},
 {'Guatemala': 5},
 {'Paraguay': 5},
 {'Republic of Korea': 5},
 {'The former Yugoslav Republic of Macedonia': 5},
 {"CÃ´te d'Ivoire": 4},
 {'Ethiopia': 4},
 {'Honduras': 4},
 {'Iraq': 4},
 {'Malta': 4},
 {'Panama': 4},
 {'Republic of Moldova': 4},
 {'Sudan': 4},
 {'Syrian Arab Republic': 4},
 {'Cambodia': 3},
 {'Iceland': 3},
 {'Madagascar': 3},
 {'Rwanda': 3},
 {'United Republic of Tanzania': 3},
 {'Antigua and Barbuda': 2},
 {'Bahrain': 2},
 {'Kyrgyzstan': 2},
 {'Mauritius': 2},
 {'Myanmar': 2},
 {'Somalia': 2},
 {'Andorra': 1},
 {'Bahamas': 1},
 {'Botswana': 1},
 {'Cape Verde': 1},
 {'Democratic Republic of the Congo': 1},
 {'Djibouti': 1},
 {'Gabon': 1},
 {'Haiti': 1},
 {'Kuwait': 1},
 {"Lao People's Democratic Republic": 1},
 {'Lesotho': 1},
 {'Maldives': 1},
 {'Mongolia': 1},
 {'Mozambique': 1},
 {'Nicaragua': 1},
 {'Oman': 1},
 {'Sao Tome and Principe': 1},
 {'Swaziland': 1},
 {'Tajikistan': 1},
 {'Togo': 1},
 {'Trinidad and Tobago': 1},
 {'Yemen': 1},
 {'Zambia': 1},
 {None: 0}]

In [ ]:
# database_path = "Resources/la_crime_10k.sqlite"
# engine = create_engine(f"sqlite:///{database_path}")
# engine.table_names()
# _10k_df.to_sql(name='LaCrime', con=engine, if_exists='append', index=False)

# # Test Query the LaCrime table
# pd.read_sql_query('select * from LaCrime', con=engine).tail(2)

In [ ]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)


#################################################
# Database Setup
#################################################

app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/bellybutton.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
Samples_Metadata = Base.classes.sample_metadata
Samples = Base.classes.samples


@app.route("/")
def index():
    """Return the homepage."""
    return render_template("index.html")


@app.route("/names")
def names():
    """Return a list of sample names."""

    # Use Pandas to perform the sql query
    stmt = db.session.query(Samples).statement
    df = pd.read_sql_query(stmt, db.session.bind)

    # Return a list of the column names (sample names)
    return jsonify(list(df.columns)[2:])


# =================== test route ======================
@app.route("/maxWash")
def washCountMax():
    """Return the max wash frequency in the datase"""

    results = db.session.query(func.max(Samples_Metadata.WFREQ)).first()[0]
    print(f"max wash: {results}")
    print(f"max wash type : {type(results)}")

    return jsonify(results)
# =================== test route ======================


@app.route("/metadata/<sample>")
def sample_metadata(sample):
    """Return the MetaData for a given sample."""

    sel = [
        Samples_Metadata.sample,
        Samples_Metadata.ETHNICITY,
        Samples_Metadata.GENDER,
        Samples_Metadata.AGE,
        Samples_Metadata.LOCATION,
        Samples_Metadata.BBTYPE,
        Samples_Metadata.WFREQ,
    ]

    results = db.session.query(
        *sel).filter(Samples_Metadata.sample == sample).all()

    # Create a dictionary entry for each row of metadata information
    sample_metadata = {}
    for result in results:
        sample_metadata["sample"] = result[0]
        sample_metadata["ETHNICITY"] = result[1]
        sample_metadata["GENDER"] = result[2]
        sample_metadata["AGE"] = result[3]
        sample_metadata["LOCATION"] = result[4]
        sample_metadata["BBTYPE"] = result[5]
        sample_metadata["WFREQ"] = result[6]

    print(sample_metadata)
    return jsonify(sample_metadata)


@app.route("/samples/<sample>")
def samples(sample):
    """Return `otu_ids`, `otu_labels`,and `sample_values`."""
    stmt = db.session.query(Samples).statement
    df = pd.read_sql_query(stmt, db.session.bind)

    # Filter the data based on the sample number and
    # only keep rows with values above 1
    sample_data = df.loc[df[sample] > 1, ["otu_id", "otu_label", sample]]

    # Sort by sample
    sample_data.sort_values(by=sample, ascending=False, inplace=True)

    # Format the data to send as json
    data = {
        "otu_ids": sample_data.otu_id.values.tolist(),
        "sample_values": sample_data[sample].values.tolist(),
        "otu_labels": sample_data.otu_label.tolist(),
    }
    return jsonify(data)


if __name__ == "__main__":
    app.run()